#information-heading{
	font-size: 2em;
}
#information-text{
	cursor: default;
	width: 90%;
	font-size: 1.2em;
	text-align: right;
	line-height: 1.7;
}
.about-me-container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.left-half{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 100vh;
}
.portfolio-image-wrapper{
	width: 50%;
	user-select: none;
}
.portfolio-image{
	width: 100%;
}
.right-half{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 100vh;
}
.information-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 90%;
	height: 90%;
	padding-bottom: 20px;
	background: #C2C8DE;
	user-select: none;
}