.card-container{
	display: flex;
	flex-direction: column;
	width: 25%;
	height: 33.4vh;
	user-select: none;
	overflow: hidden;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.animation-container{
}
.card-image{
	width: 120px;
}
@media (max-width: 520px){
	.card-container{
		border-radius: 10px;
		box-shadow: 0 5px 20px rgba(0,0,0,.25);
		height: 29vh;
	}
	.card-image{
		 width: 60px;
	}
}